<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PARATA</title>
  <style>
    body {
      // width: 980px;
      // margin: 0px auto;
      font-family: sans-serif;
    }

    .sb-component > a {
      background: #F5F5F5;
      text-decoration: none;
      padding: 2px;
    }

    .sb-component {
      padding: 10px 0px;
    }

    .sb-navbar {
      position: fixed;
      height: 100%;
      padding: 0 10px;
      list-style-type: none;
      overflow-y: scroll;
    }
  </style>
</head>
<body>
  <ul class="sb-navbar">
  {{#each components}}
  <li class="sb-component">
    {{link name}}
  </li>
  {{/each}}
  </ul>
</body>
</html>
