<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PARATA</title>
  <style>
    body {
      width: 980px;
      margin: 0px auto;
      font-family: sans-serif;
    }

    .sb-component > a {
      text-decoration: none;
      display: block;
      padding: 10px;
    }

    .sb-component > p {
      padding: 10px;
      margin: 0;
    }

    .sb-component {
      padding: 2px;
      background: #F5F5F5;
      display: inline-block;
      margin: 5px;
      width: 300px;
    }

    h1 {
      text-decoration: underline;
      text-transform: uppercase;
    }
  </style>
</head>
<body>
  <h1>Parata Components</h1>
  <div class="">
  {{#each components}}
  <div class="sb-component">
    {{link name}}
    <p>{{ description }}</p>
  </div>
  {{/each}}
  </div>
</body>
</html>
